* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#header {
  width: 100%;
  max-width: 100%;
}

.header-container {
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  z-index: 999999999999;
  background-color: #7c3848fa;
  justify-content: space-between;

}

.logo {
  display: flex;
  width: 12rem;
  height: 95px;
  align-items: center;


}

.logo img {
  width: 100%;
  height: 100%;

}

.nav-container {
  display: flex;
  width: 510px;
  height: 83px;
  position: relative;
  align-items: center;
  justify-content: center;


}

.nav-links {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  gap: 35px;
  list-style: none;
  height: 75px;
  width: 540px;
  padding: 10px 15px;
  justify-content: center;



}

.nav-links li a {
  font-size: 19px;
  font-weight: 400;
  color: #ffffffd8;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links li a:hover {
  color: #0d6efd;
  font-weight: bold;
  font-style: italic;
  transition: all 0.60s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.nav-dropdown {
  position: relative;
}


.nav-dropdown .dropdown-menu {
  display: block;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 210px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  padding: 8px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.35s ease;
  z-index: 999999;
}


.nav-dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


.nav-links {
  overflow: visible;
}


.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 18px;
  font-size: 16px;
  color: #5f2a36;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: rgba(124, 56, 72, 0.12);
  padding-left: 24px;
}

.search-inp {
  width: 17%;

}

.search-form {
  width: 100%;
  max-width: 290px;
  position: relative;

}

.search-form input {
  width: 100%;
  padding: 10px 50px 10px 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

.search-form input:focus {
  border-color: #0d6efd;
}

.search-form button {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 49px;
  height: 42px;
  border-radius: 20px;
  border: none;
  background: #5f2a36e8;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-form button:hover {
  background: #5f2a36c0;
}

/* ===== Burger ===== */
.burger {
  display: none;
  font-size: 35px;
  cursor: pointer;
  color: white;
}

/* ===== Mobile Slide Menu ===== */
.mobile-slide-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 95%;
  height: 100vh;
  background-color: #5f2a36ea;
  z-index: 9999;
  padding: 20px;
  transition: right 1.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

/* Active State */
.mobile-slide-menu.active {
  right: 0;
}

/* Header */
.mobile-menu-header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 30%;
 
}

.close-menu {
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;

}

/* Nav Links */
.mobile-nav-links {
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobile-nav-links a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

/* Search */
.mobile-search-form {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.mobile-search-form input {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: none;
}

.mobile-search-form button {
  padding: 14px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .nav-container,
  .search-inp {
    display: none;
  }

  .burger {
    display: block;
  }
}


@media (max-width:425px) {

  .header-container {
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 10px 10px;

  }

  .logo {
    width: 45%;
    height: 90px;
 

  }

  .logo img {
    width: 100%;
    height: 100%;

  }

  .search-inp {
    display: none;

  }

  .nav-container {
    display: none;
  }

}

/* ===== HEADER COMPLETE ===== */



/* ===== HERO SECTION ===== */

.hero-section {
  margin-top: 75px;
  width: 100%;
}


/* body {
  overflow-x: hidden;
} */

.hero-container {
  position: relative;
  height: calc(100vh);
  overflow: hidden;
  padding: 0;
  /* width: 100%; */
}

/* video */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.hero-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

/* content */
.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content p {
  max-width: 750px;
  font-size: 20px;
  font-weight: 500px;
  line-height: 1.6;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-btn {
  background-color: #7c3848fa;
  color: #fff;
  padding: 12px 30px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background-color: #5f2a36c4;
}

/* ===== HERO SECTION COMPLETE ===== */



/* ===== STATS SECTION ===== */
.stats-section {
  background: #f5f7fa;
  padding: 70px 0;
  margin-top: 15px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stat-box h3 {
  font-size: 42px;
  color: #7c3848fa;
  font-weight: 700;
}

.stat-box p {
  font-size: 18px;
  color: #555;
}

/* ===== STATS SECTION COMPLETE ===== */


/* ===== ABOUT SECTION ===== */
.about-section {
  margin-top: 10px;
  width: 100%;
  padding: 50px 10px;
  text-align: center;
  background: linear-gradient(135deg, #f8faff, #eef3ff);



}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 80vh;


}

.about-box-i {
  width: 38%;
  height: 530px;
  position: absolute;
  top: 100px;
  left: 23px;

}

.about-box-i img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about-container h2 {
  font-size: 37px;
  font-weight: 600;
  position: absolute;
  color: #5f2a36;
  top: 30px;
  font-weight: bold;
  width: 100%;
  height: 60px;
  text-align: center;
  text-decoration: underline;
  line-height: 1.7;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(238, 210, 159, 0.11);

}



.abuot-contant {
  width: 57%;
  height: 510px;
  right: 15px;
  top: 110px;
  position: absolute;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 40px 45px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
  text-align: left;
}


.abuot-contant h3 {
  font-size: 32px;
  font-weight: 700;
  color: #5f2a36;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
}


.abuot-contant p {
  font-size: 18px;
  font-weight: 400;
  color: #444;
  line-height: 1.7;
  margin-bottom: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.about-btn {
  background-color: #7c3848fa;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-btn:hover {
  background-color: #5f2a36c4;
}

/* ===== ABOUT SECTION COMPLETE ===== */




/* ===== SCHOOL CATEGORIES SECTION ===== */

.school-categories {
  width: 100%;
  padding: 20px 0;
  margin-top: 0px;
  background: linear-gradient(135deg, #f8faff, #eef3ff);



}


.school-categories-container {
  padding: 0 40px;
  margin-top: 0px;

}

.school-categories-heading {
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 55px;
  color: #5f2a36;
  font-family: 'Raleway', sans-serif;
}


.school-cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 5%;

}


.school-category-card {
  width: 295px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  transition: 0.35s ease;
  text-align: center;
}

.school-category-card:hover {
  transform: translateY(-18px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
}


.school-card-img-1 {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/index-page/school-cre-img/cre-1-img.jpg);
}

.school-card-img-2 {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/index-page/school-cre-img/cre-2-img.jpg);
}

.school-card-img-3 {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/index-page/school-cre-img/cre-3-img.jpg);
}

.school-card-img-4 {
  width: 100%;
  height: 195px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../assets/images/index-page/school-cre-img/cre-4-img.png);
}


.school-category-card h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 18px 20px 10px;
  color: #333;
  font-family: 'Raleway', sans-serif;
}


.school-category-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 0 20px 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.school-card-btn {
  display: inline-block;
  margin-bottom: 25px;
  background-color: #7c3848fa;
  color: #ffffff;
  padding: 10px 26px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s ease;
}

.school-card-btn:hover {
  background-color: #5f2a36c4;
}

/* ===== SCHOOL CATEGORIES SECTION COMPLETE ===== */



/* ===== HOW IT WORKS SECTION ===== */
.how-it-works {
  padding: 100px 0;
  background: linear-gradient(135deg, #f8faff, #eef3ff);
}

.how-it-works .container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.how-it-works .section-title {
  font-size: 40px;
  font-weight: 700;
  color: #7c3848;
  margin-bottom: 70px;
  position: relative;
  text-align: center;
}

.how-it-works .section-title::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #7c3848;
  display: block;
  margin: 15px auto 0;
  border-radius: 10px;
}


.steps-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}


.step-card {
  background: #ffffff;
  padding: 45px 30px;
  border-radius: 18px;
  width: 30%;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  position: relative;
}


.step-card span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #7c3848;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* TEXT */
.step-card h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}

.step-card p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

/* HOVER EFFECT */
.step-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 28px 55px rgba(13, 110, 253, 0.25);
}


/* ========= HOW IT WORK SECTION COMPLETE ============== */



/* Facilities Schools Section */
.feature-container {
  background: linear-gradient(135deg, #f8faff, #eef3ff);

}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0d1b2a;
}

.section-subtitle {
  color: #6c757d;
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;

}

/* Feature Card */
.feature-card {
  padding: 29px;
  border-radius: 14px;
  height: 300px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.feature-card h5 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #1b263b;

}

.feature-card p {
  font-size: 18px;
  color: #6c757d;
}

/* Progress */
.progress-wrapper {
  margin: 15px 0;
}

.progress-wrapper span {
  font-size: 15px;
  font-weight: 600;
  color: #495057;

}

.progress {
  height: 8px;
  border-radius: 20px;
  background-color: rgba(222, 184, 135, 0.342);
  overflow: hidden;
}

.progress-bar {
  background: linear-gradient(90deg, #7c3848, #5f2a36);
  border-radius: 20px;
}

/* Button */
.feature-btn {
  width: 100%;
  margin-top: 39px;
  padding: 10px;
  border-radius: 25px;
  background: #5f2a36f5;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s ease;
}

.feature-btn:hover {
  background: #7c3848f5;
  color: #fff;
}

/* Facilities Schools Section complete */




/* ===== TESTIMONIALS SECTION ===== */
.testimonials {
  padding: 100px 0;
  background: linear-gradient(135deg, #f8faff, #eef3ff);

}

.testimonials .container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

/* SECTION TITLE */
.testimonials .section-title {
  font-size: 40px;
  font-weight: 700;
  color: #5f2a36;
  margin-bottom: 70px;
  position: relative;
}

.testimonials .section-title::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #5f2a36;
  display: block;
  margin: 15px auto 0;
  border-radius: 10px;
}

/* WRAPPER */
.testimonial-wrapper {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

/* CARD */
.testimonial-card {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 18px;
  max-width: 480px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.35s ease;
}

/* QUOTE ICON */
.testimonial-card::before {
  content: "“";
  font-size: 70px;
  color: #5f2a36;
  position: absolute;
  top: -20px;
  left: 25px;
  opacity: 0.2;
}

/* TEXT */
.testimonial-text {
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
}

/* AUTHOR */
.testimonial-author {
  font-size: 15px;
  font-weight: 600;
  color: #7c3848;
}

/* HOVER EFFECT */
.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(13, 110, 253, 0.25);
}

/* ===== TESTIMONIALS SECTION  complete ===== */


/* ========== footer section ========== */

/* Footer Main */
.site-footer {
  background-color: #5f2a36;
  margin-top: 5px;
}

/* Footer Content */
.footer-container {
  max-width: 1300px;
  width: 100%;
  height: 250px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  /* background-color: #453e6d; */

}

/* Footer Box */
.footer-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #00b4d8;
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.footer-box p {
  font-size: 14px;
  line-height: 1.9;
  color: #d9d9d9;
}

/* Links */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 14px;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #00b4d8;
  padding-left: 5px;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.664);
  padding: 10px 10px;
  font-size: 15px;
  color: white;
}