@import url(./header.css);

/* THIS LINK IS HEADER  */

/* HERO SECTION START  */

/* HERO */
.sitemap-hero {
    margin-top: 82PX;
    color: #5f2a36;
    padding: 80px 20px;
    background-color: white;
}

.sitemap-hero h1 {
    font-size: 45px;
    font-weight: 700;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.sitemap-hero P{
    font-size: 16PX;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CARDS */
.sitemap-card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    transition: 0.6s ease;
    height: 100%;
}

.sitemap-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.sitemap-card h4 {
    margin-bottom: 18px;
    color: #0d6efd;
    font-weight: bold;
}

.sitemap-card h4 i {
    margin-right: 8px;
    font-size: 30PX;
}

.sitemap-card ul {
    list-style: none;
    padding-left: 0;
}

.sitemap-card ul li {
    margin-bottom: 8px;
}

.sitemap-card ul li a {
    text-decoration: none;
    color: #444;
    transition: 0.3s;
    font-weight: 400;
}

.sitemap-card ul li a:hover {
    color: #5f2a36;
    font-size: 17PX;
    padding-left: 6px;
}

/* HERO SECTION END  */


/* ========== footer section ========== */

/* Footer Main */
.site-footer {
  background-color: #5f2a36;
  margin-top: 5px;
}

/* Footer Content */
.footer-container {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Footer Box */
.footer-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: rgba(245, 245, 245, 0.801);
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.9;
  color: #d9d9d9;
}

/* Links */
.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 14px;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #00b4d8;
  padding-left: 5px;
}

.footer-box span {
  display: inline-block;
  margin-right: 10px;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.664);
  padding: 10px 10px;
  font-size: 15px;
  color: white;
}
@media (max-width: 576px) {

  .footer-container {
    padding: 35px 15px;
    gap: 25px;
    text-align: center;
  }

  .footer-box h3 {
    font-size: 18px;
  }

  .footer-box p,
  .footer-box ul li a {
    font-size: 13px;
  }

  .footer-box ul li {
    margin-bottom: 8px;
  }

  .footer-box span {
    margin: 0 6px;
  }

  .footer-bottom {
    font-size: 13px;
    padding: 12px;
    text-align: center;
  }
}

@media (max-width: 992px) {

  .footer-container {
    gap: 25px;
    padding: 40px 20px;
  }

  .footer-box h3 {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  .footer-box img {
    height: 40px;
  }

  #fac-img {
    height: 30px;
  }
}

html,
body {
  overflow-x: hidden;
}
/* mediya quire FULL PAGE*/
@media (max-width: 1024px) {
  .about-container {
    position: static;
    flex-direction: column;
    min-height: auto;
    gap: 20px;
  }

  .about-box-i,
  .abuot-contant {
    position: static;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .hero-content p {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .hero-content h1 {
    font-size: 28px;
  }

  .stat-box h3 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {

  .nav-container,
  .search-inp {
    display: none;
  }

  .burger {
    display: block;
  }

  .hero-content h1 {
    font-size: 34px;
  }
}
@media (max-width: 1024px) {
  .nav-links {
    gap: 25px;
  }

  .hero-content h1 {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .hero-content h1 {
    font-size: 48px;
  }

  .hero-content p {
    font-size: 22px;
  }

  .about-container h2 {
    top: 0px;
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 18px;
  }

  .hero-content h1 {
    font-size: 56px;
  }
}